doctype html
html
	head
		title MessageCab
	link(rel="stylesheet", href="style.css", type="text/css")
	body
		.branding
			video(autoplay loop)
				source(src="video/logo.mp4" type="video/mp4")
				img(src="img/message_logo.png")
		.fs_blurb
			.container
				.full
					.fs_blurb__centered
						h3.fs_blurb__title.title We are <span class="highlight">YOUR</span> agency
						p Welcome to Message Cab, we exist as a small and local, minneapolis based agency, ready to serve on your next big project. We have over ten years of experience in the marketing industry and we have worked with both small and wide. We provide excellent product support covering from analytics from your last big event, to creating new and bold strategies and messaging for your next one as well.
		.features
			.inner
				h3.features__title.title What we provide
				.container.features__hovergroup
						.group
								.quarter
									img(src="img/analysis_section.svg")
									h2 analysis
									p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
								.quarter
									img(src="img/planning_section.svg")
									h2 planning
									p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
								.quarter
									img(src="img/strategy_section.svg")
									h2 strategy
									p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
								.quarter
									img(src="img/messaging_section.svg")
									h2 messaging
									p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
		
		.work
			h3.title.work__title Our Work
		.grid
			.grid__img
				img(src="img/port/AllyForce_thumb.jpg")
			.grid__img
				img(src="img/port/AppleBarn_thumb.jpg")
			.grid__img
				img(src="img/port/CFMOTO_thumb.jpg")
			.grid__img
				img(src="img/port/RockRiver_thumb.jpg")
			.grid__img
				img(src="img/port/RosemountEngineering_thumb.jpg")
			.grid__img
				img(src="img/port/ScottDawson_thumb.jpg")
			.grid__img
				img(src="img/port/Smead_thumb.jpg")
			.grid__img
				img(src="img/port/Stebgo_thumb.jpg")
			.grid__img
				img(src="img/port/Tennis_thumb.jpg")
		.contact
			.fs_blurb
				.container
					.full
						.fs_blurb__centered
							h3.title Contact Us Today
							p I personally invite you to start a conversation today as we listen, learn and leverage your organizations assets to help you succeed and thrive in todays challenging business environment.
							
							.email
								| <script type="text/javascript">
								| 	//<![CDATA[
								| 	<!--
								| 	var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
								| 	"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
								| 	" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!15{)rt{y+xx=l;=+;" +
								| 	"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
								| 	"\"(8),9\\\"\\\\03\\\\07\\\\00\\\\\\\\\\\\r4\\\\03\\\\\\\\26\\\\0r\\\\\\\\\\" +
								| 	"\\6S03\\\\\\\\14\\\\0B\\\\NA02\\\\0I\\\\JK@MPDzR[p||~|-/fQdfa+5`03\\\\\\\\3" +
								| 	"1\\\\05\\\\03\\\\\\\\31\\\\05\\\\00\\\\\\\\07\\\\07\\\\02\\\\\\\\35\\\\0.\\" +
								| 	"\\\\\\t1\\\\00\\\\\\\\01\\\\03\\\\01\\\\\\\\>F;].0\\\\1\\\\\\\"t\\\\4p01\\\\"+
								| 	"\\\\##f)%$%!]YKIYSUrEE2G02\\\\\\\\PIIN77\\\\1q\\\\D8r+bw,f4k,$ll30\\\\07\\\\"+
								| 	"01\\\\\\\\20\\\\05\\\\00\\\\\\\\02\\\\0]\\\\05\\\\01\\\\00\\\\\\\\10\\\\06\\"+
								| 	"\\00\\\\\\\\34\\\\04\\\\00\\\\\\\\\\\\n7\\\\00\\\\\\\\\\\"\\\\f(;} ornture;" +
								| 	"}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%+;y+8)<9(iif){++;i<l;i" +
								| 	"=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"         ;
								| 	while(x=eval(x));
								| 	//-->
								| 	//]]>
								| </script>

								
							.phone
								p  651-492-9421
				
			
				
	