doctype html
html
	head
		title MessageCab
	link(rel="stylesheet", href="style.css", type="text/css")
	body
	.branding
		video(autoplay loop)
			source(src="video/logo.mp4" type="video/mp4")
			img(src="img/message_logo.png")
	.fs_blurb
		.container
			.full
				.fs_blurb__centered
					h1.fs_blurb__title.title We are <span class="highlight">YOUR</span> agency
					p We work with clients big and small across a range of sectors and we utilise all forms of media to get your name out there in a way that's right for you. We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity possible so that you can see a return from the advertising.
	.features
		.inner
			h1.features__title.title What we provide
			.container.features__hovergroup
					.group
							.half
								img(src="img/analysis_section.svg")
								h2 analysis
								p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
							.half
								img(src="img/planning_section.svg")
								h2 planning
								p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
						.group
							.half
								img(src="img/strategy_section.svg")
								h2 strategy
								p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
							.half
								img(src="img/messaging_section.svg")
								h2 messaging
								p We will work with you to fully understand your business and your target audience to inform our marketing strategy.
