doctype html
html
	head
		title MessageCab
	link(rel="stylesheet", href="style.css", type="text/css")
	body
		.branding
			video(autoplay loop)
				source(src="video/logo.mp4" type="video/mp4")
				img(src="img/message_logo.png")
		.fs_blurb
			.container
				.full
					.fs_blurb__centered
						h3.fs_blurb__title.title We are <span class="highlight">YOUR</span> agency
						p Welcome to Message Cab, we exist as a small and local, minneapolis based agency, ready to serve on your next big project. We have over ten years of experience in the marketing industry and we have worked with both small and wide. We provide excellent product support covering from analytics from your last big event, to creating new and bold strategies and messaging for your next one as well.
		.features
			.inner
				h3.features__title.title What we provide
				.container.features__hovergroup
						.group
								.quarter
									img(src="img/analysis_section.svg")
									h2 analysis
									p Your last event was a success, congratulations! Now allow us to take that data and help you analyzes and prepare for you next great one!
								.quarter
									img(src="img/planning_section.svg")
									h2 planning
									p Got something special coming that you need an expert for? Come to us! We have over eight years of experience in bold event planning!
								.quarter
									img(src="img/strategy_section.svg")
									h2 strategy
									p We will work with you to fully understand your business and your target audience to inform your marketing strategy.
								.quarter
									img(src="img/messaging_section.svg")
									h2 messaging
									p Need to send a strong message, we got your back! Choose us to help you send your new message down the road to success!
		
		.work
			h3.title.work__title Our Work
		.grid
			.grid__img
				img(src="img/port/AllyForce_thumb.jpg")
			.grid__img
				img(src="img/port/AppleBarn_thumb.jpg")
			.grid__img
				img(src="img/port/CFMOTO_thumb.jpg")
			.grid__img
				img(src="img/port/RockRiver_thumb.jpg")
			.grid__img
				img(src="img/port/RosemountEngineering_thumb.jpg")
			.grid__img
				img(src="img/port/ScottDawson_thumb.jpg")
			.grid__img
				img(src="img/port/Smead_thumb.jpg")
			.grid__img
				img(src="img/port/Stebgo_thumb.jpg")
			.grid__img
				img(src="img/port/Tennis_thumb.jpg")
		.contact
			.fs_blurb
				.container
					.full
						.fs_blurb__centered
							h3.title Contact Us Today
							p We personally invite you to start a conversation today as we listen, learn and leverage your organizations assets to help you succeed and thrive in todays challenging business environment.
							
							.email
								| <script type="text/javascript">
								| 	//<![CDATA[
								| 	<!--
								| 	var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
								| 	"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
								| 	".substr(0,ol);}f(\")101,\\\"zp400\\\\720\\\\730\\\\200\\\\Z520\\\\500\\\\UX" +
								| 	"U330\\\\VRQTWO_YMKdMLryr&4H771\\\\771\\\\m\\\"\\\\hieaea610\\\\010\\\\430\\" +
								| 	"\\230\\\\5430\\\\530\\\\300\\\\010\\\\300\\\\K;X600\\\\r\\\\+4/yut\\\\>>,c)" +
								| 	"($ $ LN^TwZ_]JE120\\\\FSIJ@r?G$qpay/l7+/kodn\\\\520\\\\010\\\\710\\\\X000\\" +
								| 	"\\430\\\\520\\\\300\\\\130\\\\t\\\\700\\\\200\\\\\\\"(f};o nruter};))++y(^)" +
								| 	"i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)101<i(fi{)++i;l<i;0=i(rof;" +
								| 	"htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                              ;
								| 	while(x=eval(x));
								| 	//-->
								| 	//]]>
								| 	</script>

							.phone
								p  651-492-9421