@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3SZ2oysoEQEeKwjgmXLRnTc.ttf) format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpS3E-kSBmtLoNJPDtbj2Pk.ttf) format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJS3E-kSBmtLoNJPDtbj2Pk.ttf) format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxs1QGe9x6ME_FQCWJB3n6z8.ttf) format("truetype"); }
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"), local("DroidSerif"), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaCwlidHJgAgmTjOEEzwu1L8.ttf) format("truetype"); }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-family: "Droid Serif",Georgia,Times,"Times New Roman",serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #555; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase; }

h2 {
  font-family: 'Open Sans';
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase; }

h3 {
  font-family: 'Open Sans';
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase; }

.quarter, .half {
  text-align: center;
  font-size: .7rem;
  line-height: 1.1rem; }

.half {
  font-size: .9rem;
  line-height: 1.5rem; }

.container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.full {
  width: 100%; }

.group {
  display: flex;
  overflow: hidden;
  margin-bottom: 3rem; }
  @media (max-width: 800px) {
    .group {
      flex-wrap: wrap; } }

.half {
  width: 40rem;
  padding: 0 5px; }

.quarter {
  width: 20rem;
  padding: 0 5px; }
  @media (max-width: 800px) {
    .quarter {
      width: 15rem;
      padding: 0; } }

.vcentered::before {
  content: '';
  display: block;
  align-self: flex-start; }

.vcentered::after {
  content: '';
  display: block;
  align-self: flex-end; }

.title {
  display: block;
  background: #e8ae4a;
  margin-left: -2040px;
  text-align: right;
  padding: 20px 25px;
  width: 2300px;
  font-size: 2rem;
  line-height: 2.5rem; }
  @media (max-width: 600px) {
    .title {
      width: 250px !important;
      margin: 0px;
      text-align: center;
      font-size: 1rem;
      padding: 5px;
      padding: 0 10px;
      margin: 0 auto; } }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

video {
  width: 100%;
  background: url("img/message_logo.png") center center no-repeat;
  background-size: contain; }

.cta {
  display: block;
  border-radius: 15px;
  background: none;
  border: 2px solid #684e21;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 5px 15px;
  display: block;
  margin: 20px auto;
  color: #684e21;
  text-decoration: none; }

.fs_blurb, .features, .grid, .contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 50px 0; }
  @media (max-width: 600px) {
    .fs_blurb, .features, .grid, .contact {
      padding: 20px; } }

.clear {
  clear: both; }

.branding {
  background: #db993c;
  overflow: hidden; }

.fs_blurb {
  background: url("img/about.jpg") no-repeat bottom left;
  background-size: cover; }

.fs_blurb__centered {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.5rem; }
  @media (max-width: 600px) {
    .fs_blurb__centered {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center; } }

.fs_blurb__title {
  width: 2380px; }
  .fs_blurb__title span {
    color: #684e21;
    font-weight: bolder; }

.features {
  background-color: #f2f2f2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d6d6d6));
  background-image: -moz-linear-gradient(top, #f2f2f2, #d6d6d6);
  background-image: -webkit-linear-gradient(top, #f2f2f2, #d6d6d6);
  background-image: linear-gradient(to bottom, #f2f2f2, #d6d6d6); }
  .features .container {
    max-width: 960px; }
  @media (max-width: 600px) {
    .features {
      background: #fff; } }

.features__title {
  background: rgba(104, 78, 33, 0.5);
  color: #fff;
  width: 2300px; }

.features img {
  margin-bottom: 0px; }

@media (max-width: 600px) {
  .features__hovergroup {
    display: none; } }
.features__hovergroup h2 {
  color: #684e21; }
.features__hovergroup .quarter {
  padding: 20px 15px 0;
  margin: 5px;
  cursor: pointer; }
  .features__hovergroup .quarter:hover {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    -moz-animation: fade-in 2s;
    -webkit-animation: fade-in 2s;
    animation: fade-in 2s; }

@-moz-keyframes fade-in {
  0% {
    background: none;
    box-shadow: none; }
  100% {
    background: white;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2); } }
@-webkit-keyframes fade-in {
  0% {
    background: none;
    box-shadow: none; }
  100% {
    background: white;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2); } }
@keyframes fade-in {
  0% {
    background: none;
    box-shadow: none; }
  100% {
    background: white;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2); } }
.work {
  position: absolute;
  z-index: 2; }
  @media (max-width: 600px) {
    .work {
      position: static;
      margin-bottom: 20px; } }

.work__title {
  width: 2300px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2); }
  @media (max-width: 600px) {
    .work__title {
      box-shadow: none; } }

.grid {
  background: #684e21;
  padding: 0;
  flex-wrap: wrap;
  align-item: center;
  flex-flow: row wrap;
  justify-content: left;
  z-index: -2; }
  @media (max-width: 600px) {
    .grid {
      display: none; } }

.grid__img {
  width: 33.33%;
  overflow: hidden;
  margin-top: -8px;
  cursor: pointer; }
  .grid__img:nth-child(1), .grid__img:nth-child(2), .grid__img:nth-child(3) {
    margin-top: 0; }
  .grid__img img {
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
    opacity: .6; }

.contact {
  background: url("img/contact.jpg") bottom center;
  background-size: cover;
  padding-top: 20px; }
  .contact .inner {
    width: 640px;
    color: #fff; }
    @media (max-width: 600px) {
      .contact .inner {
        width: 100%; } }
  .contact .fs_blurb {
    background: none; }

.phone, .email {
  font-size: 2rem;
  font-family: 'Open Sans';
  color: #e8ae4a;
  text-align: center; }
  .phone a, .email a {
    color: #e8ae4a;
    text-decoration: none; }
  @media (max-width: 600px) {
    .phone, .email {
      font-size: 1.5rem; } }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(232, 174, 74, 0.8);
  z-index: 6;
  display: none;
  cursor: pointer; }
  @media (max-width: 600px) {
    .overlay {
      position: static;
      background: none;
      display: block; } }

.overlay__container, .overlay__container--grid {
  width: 31.25rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 10px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #684e21;
  z-index: 9;
  pointer-events: auto; }
  @media (max-width: 600px) {
    .overlay__container, .overlay__container--grid {
      position: static;
      border: none;
      margin: 0;
      padding: 5px 10px;
      transform: translate(0%, 0%);
      width: 100%;
      border-radius: 0; } }

.overlay__container--grid {
  width: 600px; }
  .overlay__container--grid img {
    width: 100%;
    margin: 0 auto; }
  @media (max-width: 600px) {
    .overlay__container--grid {
      width: 100%;
      border-top: 5px solid #684e21; }
      .overlay__container--grid:first-child {
        border: none; } }

.overlay__discription--grid {
  border-top: 2px solid #684e21;
  margin: 0 -10px;
  padding: 0 20px; }
  @media (max-width: 600px) {
    .overlay__discription--grid {
      border-top: none; } }

.overlay__header {
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  margin: -10px -10px 0;
  border-bottom: 3px solid #684e21;
  min-height: 150px;
  position: relative; }

.overlay__header--analyist::before {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url("img/analylist_bg.png");
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.overlay__header--analyist::after {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8; }

.overlay__header--planning::before {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url("img/planning_bg.png");
  background-position: bottom center;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.overlay__header--planning::after {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8; }

.overlay__header--strategy::before {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url("img/stratagy_bg.png");
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.overlay__header--strategy::after {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8; }

.overlay__header--messaging::before {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url("img/message_bg.png");
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.overlay__header--messaging::after {
  content: ' ';
  background-color: #e8ae4a;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8; }

@media (max-width: 600px) {
  .overlay__header {
    min-height: auto; }

  .overlay__header--analyist, .overlay__header--planning, .overlay__header--strategy, .overlay__header--messaging {
    background: none;
    border: none; }
    .overlay__header--analyist img, .overlay__header--planning img, .overlay__header--strategy img, .overlay__header--messaging img {
      display: none; }
    .overlay__header--analyist::before, .overlay__header--analyist::after, .overlay__header--planning::before, .overlay__header--planning::after, .overlay__header--strategy::before, .overlay__header--strategy::after, .overlay__header--messaging::before, .overlay__header--messaging::after {
      display: none; } }
.overlay__icon {
  display: flex;
  position: relative;
  top: -50px;
  left: 12rem;
  background: #e8ae4a;
  border-radius: 50%;
  z-index: 9; }

.overlay__title {
  margin: -55px 0 0;
  z-index: 9;
  display: block;
  position: relative;
  z-index: 9; }
  .overlay__title h3 {
    text-transform: uppercase;
    color: #684e21;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center; }
    @media (max-width: 600px) {
      .overlay__title h3 {
        font-size: 1.8rem; } }
  @media (max-width: 600px) {
    .overlay__title {
      margin: 0; } }

.overlay__body {
  color: #684e21;
  font-size: 1.2rem;
  line-height: 2.3rem;
  padding: 0 15px;
  text-align: center; }
  @media (max-width: 600px) {
    .overlay__body {
      font-size: 1rem;
      line-height: 1.5rem; } }

@media (max-width: 600px) {
  .overlay .cta {
    display: none; } }
.overlay__tags {
  list-style: none;
  padding: 0;
  margin-left: -5px; }
  .overlay__tags li {
    float: left;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #684e21;
    color: #684e21;
    padding: 0px 10px;
    font-size: .6rem;
    margin: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold; }
  @media (max-width: 600px) {
    .overlay__tags {
      display: none; } }

/*# sourceMappingURL=style.css.map */
