//COLORS
$main: #e8ae4a;
$accent: #684e21;

//TYPOGRAPHY
body{
  font-family: "Droid Serif",Georgia,Times,"Times New Roman",serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #555;
}
h1{
  font-family: 'Open Sans';
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.quarter{
  text-align: center;
  font-size: .7rem;
  line-height: 1.1rem;
}

//box-sizing (duh)
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// VIDEO
video{
  width: 100%;
}

// sections
%sections{
  width: 100vh;
}
