.contact{
	@extend %sections;
	background: url('img/contact.jpg') bottom center;
	background-size: cover;
	padding-top: 20px;

	.inner{
		width: 640px;
		color: #fff;

		@media(max-width: 600px){
			width: 100%;
		}
	}
	.fs_blurb{
		background: none;
	}
}

.phone, .email{
	font-size: 2rem;
	font-family: 'Open Sans';
	color: $main;
	text-align: center;
	a{
		color: $main;
		text-decoration: none;
	}

		@media(max-width: 600px){
			font-size: 1.5rem;
		}
}
