.features {
  @extend %sections;
  background-color: #f2f2f2;
  @include background-image(linear-gradient(top, #f2f2f2, #d6d6d6));

  .container{
	  max-width: 960px;
  }

  @media (max-width:600px){
    background: #fff;
  }
}
.features__title{
  background: rgba($accent,.5);
  color: #fff;
  width: 2300px;
}

.features img{
  margin-bottom: 0px;
}

.features__hovergroup {
  @media (max-width:600px){
    display: none;
  }

  h2{
    color: $accent;
  }
  .quarter{
   padding: 20px 15px 0;
   margin: 5px;
  cursor: pointer;
  &:hover{
    background: tint(#ffffff,80);
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(#000000,.2);
    @include animation(fade-in 2s);
  }
}
}

@include keyframes(fade-in) {
  0% {
    background: none;
    box-shadow: none;
  }
  100% {
    background: tint(#ffffff,80);
    box-shadow: 0 0 5px 0px rgba(#000000,.2);
  }
}
