// Hack, non semantic, but effective!
.work{
	position: absolute;
	z-index: 2;
	@media (max-width: 600px){
		position: static;
		margin-bottom: 20px;
	}
}
.work__title{
	width: 2300px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
	@media (max-width: 600px){
		box-shadow: none;
	}

}
.grid{
	@extend %sections;
	background: $accent;
	padding: 0;
	flex-wrap: wrap;
	align-item: center;
	flex-flow: row wrap;
	justify-content: left;
	z-index: -2;
	@media (max-width: 600px){
		display: none;
	}
}

.grid__img {
	width:33.33%;
	overflow: hidden;
	margin-top: -8px;
	cursor: pointer;

	&:nth-child(1), &:nth-child(2), &:nth-child(3){
		margin-top: 0;
	}

	img{
		width: 500px;
		height: 300px;
		margin: 0;
		padding: 0;
		opacity: .6;


	}
}
