.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(232, 174, 74, .8);
  z-index: 6;
  display: none;
  cursor: pointer;
}
.overlay__container{
  width: 31.25rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 10px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid #684e21;
  z-index: 9;
  pointer-events: auto;
}
.overlay__container--grid{
	@extend .overlay__container;
	width: 600px;
	
	img{
		width: 100%;
		margin: 0 auto;
	}
	
}

.overlay__discription--grid{
	border-top: 2px solid $accent;
	margin: 0 -10px;
	padding: 0 20px;
}
.overlay__header{
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  margin: -10px -10px 0;
  border-bottom: 3px solid #684e21;
  min-height: 150px;
  position: relative;
}

.overlay__header--analyist::before{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url('img/analylist_bg.png');
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay__header--analyist::after{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

.overlay__header--planning::before{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url('img/planning_bg.png');
  background-position: bottom center;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay__header--planning::after{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

.overlay__header--strategy::before{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url('img/stratagy_bg.png');
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay__header--strategy::after{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

.overlay__header--messaging::before{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  background-image: url('img/message_bg.png');
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay__header--messaging::after{
  content: ' ';
  background-color: $main;
  border-top-left-radius: 17px;
  border-top-right-radius: 18px;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}
.overlay__icon{
    display: flex;
    position: relative;
    top: -50px;
    left: 12rem;
    background: $main;
    border-radius: 50%;
    z-index: 9;
}
.overlay__title{
  margin: -55px 0 0;
  z-index: 9;
  display: block;
  position: relative;
  z-index: 9;

  h3{
  text-transform: uppercase;
  // font-weight: bolder;
  color: $accent;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  }
}

.overlay__body{
  color: $accent;
  font-size: 1.2rem;
  line-height: 2.3rem;
  padding: 0 15px;
  text-align: center;
}

.overlay__tags{
	list-style: none;
	padding: 0;
	margin-left: -5px;
	li{
		float: left;
		font-family: 'Open Sans', sans-serif;
		border: 2px solid $accent;
		color: $accent;
		padding: 0px 10px;
		font-size: .6rem;
		margin: 5px;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: bold;
	}
}
